# Node
**/node_modules

# Env
.env
.env.backup

# Build
frontend/dist

# Database
postgres-data/

# Docker
docker-compose.override.yml
*.log

# Nginx certs
nginx/certs/*
!nginx/certs/.gitkeep

# OS
.DS_Store

# IDE
.vscode/
.idea/

# npm
npm-debug.log*
